Source: ros-melodic-gazebo-ros-pkgs
Section: misc
Priority: optional
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://gazebosim.org/tutorials?cat=connect_ros
Standards-Version: 3.9.2

Package:ros-melodic-gazebo11-ros-pkgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-gazebo11-dev, ros-melodic-gazebo11-msgs, ros-melodic-gazebo11-plugins, ros-melodic-gazebo11-ros
Conflicts: ros-melodic-gazebo-ros-pkgs , ros-melodic-gazebo10-ros-pkgs, ros-melodic-gazebo9-ros-pkgs
Description: Interface for using ROS with the Gazebo simulator.
