Source: ros-melodic-gazebo-ros-control
Section: misc
Priority: optional
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-angles, ros-melodic-catkin, ros-melodic-control-toolbox, ros-melodic-controller-manager, ros-melodic-gazebo11-dev, ros-melodic-hardware-interface, ros-melodic-joint-limits-interface, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-std-msgs, ros-melodic-transmission-interface, ros-melodic-urdf
Homepage: http://ros.org/wiki/gazebo_ros_control
Standards-Version: 3.9.2

Package:ros-melodic-gazebo11-ros-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-angles, ros-melodic-control-toolbox, ros-melodic-controller-manager, ros-melodic-gazebo11-ros, ros-melodic-hardware-interface, ros-melodic-joint-limits-interface, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-std-msgs, ros-melodic-transmission-interface, ros-melodic-urdf
Conflicts: ros-melodic-gazebo-ros-control , ros-melodic-gazebo10-ros-control, ros-melodic-gazebo9-ros-control
Description: gazebo_ros_control
